<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - приложение ASP.NET</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<style>
		body {
			padding-top: 0;
		}

		li a {
			color: white;
			vertical-align: central;
		}

		a {
			text-decoration: none;
		}

		.body-content {
			margin-top: 15px;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			@Html.ActionLink("WebMoney", "Index", "Category", new { area = "" }, new { @class = "navbar-brand" })
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="navbar-nav mr-auto mb-2 mb-lg-0 nav-justified" style="width: 100%">
					<li class="nav-item">@Html.ActionLink("Домашняя страница", "Index", "Category")</li>
					<li class="nav-item">@Html.ActionLink("Счета", "Index", "Account")</li>
					<li class="nav-item">@Html.ActionLink("Транзакции", "Index", "Transaction")</li>
					<li class="nav-item">@Html.ActionLink("Аналитика", "Index", "Analytics")</li>
					<li class="nav-item">@Html.ActionLink("Выход", "Index", "Home")</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year &#8211; WebMoney</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap.js")
	@RenderSection("scripts", required: false)
</body>
</html>
